
.home-container {
  padding: 0;
margin-top: 0px;
}
.container{
  margin-top: 0px;
}
.intro-section {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin-left: 5%;
  margin-top: 0px;
  margin-bottom: 10px;
}
.title-hero{
  font-size: 70px;
}
.sub-title{
  color: #57A9CF;
  font-weight: bold;
  font-size: 20px;
}
.why-notic-section {
  background-color: #5DADD2;
  padding: 50px 15px;
  color: white;
}



.topic-icon {
  width: 50px;
  margin-bottom: 20px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}

.email-signup-form {
  display: flex;
  gap: 10px;
}

.text-container {
  text-align: left;
  
}
.text-container h1,p,button,form {
  margin-left: 5%;
  
}

.image-container {
  display: flex;
  justify-content: flex-end;
  margin: 0 !important;
  padding: 0 !important;
 
}
.image-container img {
  margin-left: 10%;
}
.btn-sign-up{
  background-color: #57A9CF;
  border: none;
  padding: 10px 20px;
  margin:0;
}
.btn-sign-up:hover{
  background-color: #4788a7;
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 30px;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 15px;
}

p {
  margin-bottom: 20px;
}
