
.home-container {
  padding: 0;
margin-top: 0px;
}

.intro-section {
  padding: 0;
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin-left: 5%;
  margin-top: 0px;
  margin-bottom: 10px;
}
.title-hero{
  font-size: 5rem;
  margin-bottom: 20px;
  margin-left: 5%;
}

.sub-title{
  color: #57A9CF;
  font-weight: bold;
  font-size: 20px;
  margin-left: 5%;
}

.desc-home {
  margin-bottom: 20px;
  margin-left: 5%;
}

.why-notic-section {
  background-color: #5DADD2;
  padding: 50px 15px;
  color: white;
}

.topic-icon {
  width: 50px;
  margin-bottom: 20px;
}

.img-fluid-home {
  max-width: 100%;
  height: auto;
}

.email-signup-form {
  display: flex;
  gap: 10px;
  margin-left: 5%;
}

.text-container-home {
  text-align: left;
  
}

.image-container-home {
  display: flex;
  justify-content: flex-end;
  margin: 0 !important;
  padding: 0 !important;
 
}
.image-container-home img {
  margin-left: 10%;
   transition: margin-left 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.image-container-home img:hover{
  transform: scale(1.1);
}
.btn-sign-up-home{
  background-color: #57A9CF;
  color: white !important;
  border: none !important;
  padding: 10px 20px;
  margin: 0;
}
.btn-sign-up-home:hover{
  background-color: #4788a7;
}

.h2-home {
  font-size: 2rem;
  margin-bottom: 30px;
}