.forgot-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background: #fff;
    overflow: hidden;
}

.logo-container-fpw {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    margin-left: 7%;
    margin-top: 2.5%;
}

.logo-container-fpw span {
    font-size: 25px;
}

.wave-background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 1;
}

.wave-background img {
    width: 100%;
    height: auto;
}

.forgot-content {
    display: flex;
    flex-direction: row;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 900px;
    width: 100%;
    z-index: 2;
    margin-top: 6%;
}

.forgot-image {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgot-image img {
    max-width: 100%;
    height: auto;
}

.forgot-form {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.forgot-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.forgot-form form {
    width: 100%;
}

.forgot-form .form-control {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #5cadd1;
}

.forgot-form .reset-button {
    width: 100%;
    padding: 10px;
    background-color: #e55d00;
    border: none;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.forgot-form .reset-button:hover {
    background-color: #FF9033;
}

.back-to-login {
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 100%;
    color: gray;
    text-decoration: none;
    transition: color 0.3s;
}

.back-to-login:hover {
    color: black;
}

.text-black {
    color: #222;
}

.text-white {
    color: #fff;
}

.dark-mode .forgot-container {
    background: linear-gradient(to right, #333, #222);
}

.dark-mode .forgot-content {
    background: #1e1e1e;
}

.dark-mode .text-center {
    color: #fff;
}

.dark-mode .back-to-login {
    color: #fff;
}

.dark-mode .logo-container-fpw span {
    color: #fff;
}
