#root{
  margin-top: 0;
}

body {
  font-family: 'Poppins', sans-serif; /* Set font Poppins untuk seluruh teks */
}
.protected-route-container {
  display:block;
}

.sidebar {
  position: fixed; /* Atur posisi sidebar tetap */
  top: 0; /* Tempatkan sidebar di bagian atas layar */
  left: 0; /* Tempatkan sidebar di sebelah kiri layar */
  width: 250px; /* Atur lebar sidebar, sesuaikan dengan kebutuhan Anda */
  height: 100vh; /* Atur tinggi sidebar agar selalu mengisi tinggi layar */
  overflow-y: auto; /* Aktifkan scroll vertikal jika konten melebihi tinggi layar */
}


.component-container {
  flex: 1; /* Sisanya untuk konten utama */
  padding: 20px; /* Padding untuk konten utama */
}
